<div class="dropdown-backdrop"></div>
    
    <div class="header">
        <div class="header-top" >
            <img src="images/logo.png" alt="image indisponible" class="logoparacare" routerLink="/home">
            
            <div class="header-center">
                <div class="category-dropdown">
                    <!-- Angular: (click)="toggleCategories()" [class.active]="showCategories" -->
                    <button class="category-btn" (click)="toggleCategories()" [class.active]="showCategories">
                        toutes les catégories
                        <span class="dropdown-arrow"></span>
                    </button>
                </div>
                
                <div class="search-container">
                    <!-- Angular: [(ngModel)]="searchTerm" (keyup.enter)="search()" -->
                    <input type="text" class="search-input" placeholder="Rechercher des produits">
                </div>
                <!-- Angular: (click)="search()" -->
                <button class="search-btn">
                    <svg class="header-icon1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                    </svg>
                </button>
                
            </div>
            
            <div class="header-right">
                
                <!-- Angular: (click)="toggleWishlist()" -->
                <div class="favorites-container">
                    <svg class="header-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" routerLink="/favorites" >
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                    </svg>
                    @if (getFavoriteCount() > 0) {
                        <div class="favorites-badge" [class.animate]="favoritesChanged()">
                            {{ getFavoriteCount() }}
                        </div>
                    }
                </div>
                
                <!-- Angular: (click)="openCart()" -->
            <!--    <svg class="header-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4m0 0L7 13m0 0L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17M17 13v6a2 2 0 01-2 2H9a2 2 0 01-2-2v-6m8 0V9a2 2 0 00-2-2H9a2 2 0 00-2-2v4.01"/>
                </svg>
                -->
                 <svg  class="header-icon2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" routerLink="/cart">
                    <g id="shopping_bag" data-name="shopping bag"><path class="cls-1" d="M26.19 10.9A3.21 3.21 0 0 0 23 8h-1a6.4 6.4 0 0 0-1.58-3.91 5.78 5.78 0 0 0-8.9 0A6.4 6.4 0 0 0 10 8H9a3.21 3.21 0 0 0-3.2 2.9L4.25 26.46A3.21 3.21 0 0 0 7.45 30h17.1a3.21 3.21 0 0 0 3.2-3.54zm-.74 16.7a1.18 1.18 0 0 1-.9.4H7.45a1.18 1.18 0 0 1-.9-.4 1.17 1.17 0 0 1-.31-.94L7.8 11.1A1.21 1.21 0 0 1 9 10h2.25a1 1 0 0 0 .18-.07l.16-.1a.86.86 0 0 0 .14-.13.72.72 0 0 0 .11-.15 1.3 1.3 0 0 0 .08-.17.71.71 0 0 0 0-.2A.5.5 0 0 0 12 9v-.13a4.41 4.41 0 0 1 1.06-3.46A4 4 0 0 1 16 4a4 4 0 0 1 3 1.41A4.41 4.41 0 0 1 20 8h-5a1 1 0 0 0 0 2h8a1.21 1.21 0 0 1 1.21 1.1l1.56 15.56a1.17 1.17 0 0 1-.32.94z"/><path class="cls-1" d="M11 11h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2zM22 11h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2z"/></g>
                </svg>

  <div class="user-section" *ngIf="userName(); else loginLinks">
  <div class="user-info">
    <div class="user-name">{{ userName() }}</div>
    <button class="logout-button" (click)="logout()">Déconnexion</button>
  </div>
</div>

<ng-template #loginLinks>
  <a routerLink="/signup" class="signup-link">S'inscrire</a>
  <div class="user-avatar" routerLink="/login">
    <!-- avatar ici -->
  </div>
</ng-template>



            </div>
        </div>
        
        <!-- Angular: [class.show]="showCategories" -->
       <nav class="navigation" [class.show]="showCategories">
    <div class="nav-container">
        <div class="nav-menu">
            @for (category of categories; track category) {
                <a class="nav-item" (click)="selectCategory(category)" routerLink="/products">
                    {{category}}
                </a>
            }
        </div>
    </div>
</nav>
    </div>
